spring:
  config:
    activate:
      on-profile: dev
  devtools:
    add-properties: true
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: none

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
open-api:
  service:
    api-docs: shopapp-service
    server: http://localhost:${server.port}
    title: Backend service
    version: 1.0.0
